.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(#3baea0, #ffffff);
    border-radius: 20px;
}
.offers-left{
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background-color: #0092ca;
    color: white;
    border: none;
    font-size: 22px;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
@media(max-width:1280px){
    .offers{
        padding: 0px 80px;
        margin-bottom: 130px;
    }
    .offers-left h1{
        font-size: 70px;
    }
    .offers-left p{
        font-size: 18px;
        margin-top: 10px;
    }
    .offers-right img{
        width: 300px;
    }
    .offers-left button{
        width: 250px;
        height: 65px;
        font-size: 22px;
    }
}
@media(max-width:1024px){
    .offers{
        padding: 0px 60px;
        width: 650px;
        margin-bottom: 100px;
        height: 50vh;
    }
    .offers-left h1{
        font-size: 60px;
    }
    .offers-left p{
        font-size: 16px;
        margin-top: 10px;
    }
    .offers-right img{
        width: 250px;
    }
    .offers-left button{
        width: 200px;
        height: 55px;
        font-size: 18px;
    }
}
@media(max-width:800px){
    .offers{
        width: 600px;
        margin-bottom: 80px;
        height: 45vh;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 13px;
        margin-top: 10px;
    }
    .offers-right img{
        width: 200px;
    }
    .offers-left button{
        width: 180px;
        height: 45px;
        font-size: 16px;
    }
}
@media(max-width:500px){
    .offers{
        width: 400px;
        margin-bottom: 80px;
        height: 25vh;
    }
    .offers-left h1{
        font-size: 25px;
        width: 100px;
    }
    .offers-left p{
        font-size: 11px;
        margin-top: 10px;
    }
    .offers-right img{
        width: 150px;
        margin-left: 50px;
    }
    .offers-left button{
        width: 130px;
        height: 35px;
        font-size: 13px;
    }
}